:root {
  --bgCta: #EEE3AB;
  --main: #656B9F;
  --gradient2: #97D6FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.background-image-desktop {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}

.main-container-1,
.main-container-2,
.standard-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.useraccount {
  position: relative;
  min-height: 100vh;
}

.landing-page {
  justify-content: unset;
}

.inside-image {
  width: 100%;
}

.container-text {
  width: 40%;
  height: auto;
  text-align: center;
  border-radius: 20px;
}

.container-title {
  font-size: 40px;
  font-weight: 700;
}

.container-description {
  font-size: 25px;
  font-weight: 400;
}

.single-page-btn {
  background: linear-gradient(to right, var(--gradient2), var(--main));
  border-radius: 20px;
  width: 100%;
  border: none;
  font-size: 30px;
  z-index: 1;
}

.single-page-btn-contatti {
  background: linear-gradient(to right, var(--gradient2), var(--main));
  border-radius: 20px;
  width: 100%;
  border: none;
  font-size: 20px;
  z-index: 1;
}

.form-left,
.form-right {
  border-radius: 20px;
  max-height: 70vh;
}

.label-text {
  font-size: 18px;
  font-weight: 400;
}

.logo {
  cursor: pointer;
}

.privacy-check {
  text-decoration: none;
  color: black !important;
}

.privacy-check:hover {
  color: var(--bgCta) !important;
}

/* Azadì style */

.azadì {
}

.azadì-row {
  overflow: hidden;
}

.left-azadì {
  background: linear-gradient(to right, var(--gradient2), var(--main));
}

.right-azadì {
  background: linear-gradient(to right, var(--gradient2), var(--main));
}

.azadì-image {
  width: 80%;
  overflow: hidden;
}

.store-image {
  cursor: pointer;
  width: 100%;
}

.store-link {
  width: 80%;
}

/* Freelancer style */

.freelancer {
}

.freelancer-image-pc {
  position: relative;
  z-index: -1;
}

.freelancer-image-mobile {
  display: none;
}

.freelancer-title-top {
  position: absolute;
  font-size: 50px;
}

/* Contacts Style*/

.contatti {
  background-image: url(../img/contatti-page-background-desktop.png);
  position: relative;
  padding-bottom: 20px;
  min-height: 100vh;
}

/* Viaggi Style*/

.viaggi-page {
  background: linear-gradient(to right, var(--gradient2), var(--main));
}

/* Trip Card Style*/

.trip-card {
  width: 49%;
  background-image: url(../img/trip-card-image.png);
  background-size: cover;
  border-radius: 30px;
}

.single-card {
  position: relative;
}

.trip-destination {
  background: linear-gradient(to right, var(--gradient2), var(--main));
  width: fit-content;
  font-size: 35px;
  border-radius: 30px;
}

.trip-info {
  background: linear-gradient(to right, var(--gradient2), var(--main));
  font-size: 25px;
  border-radius: 30px;
}

/* Lingua Style*/

.dropdown-menu {
  top: 120%;
  right: 0;
  background: linear-gradient(to right, var(--gradient2), var(--main));
  border: none;
}

.dropdown-item {
  color: white;
}

.flag-img {
  width: 100px;
}

/* Login Style */
.login {
  background-image: url(../img/login-background-desktop.png);
  position: relative;
  min-height: 100vh;
}

.login-old {
  border-bottom-left-radius: 20px;
}

.login-new {
  border-bottom-right-radius: 20px;
}

/* SignUp Style */

.signup {
  min-height: 100vh;
  margin-bottom: 60px;
}

.signup-container {
  background: linear-gradient(to right, var(--gradient2), var(--main));
  ;
}

.signup-page-btn {
  background: var(--bgCta);
  color: black;
  border-radius: 20px;
  width: 100%;
  border: none;
  font-size: 30px;
}

.signup-page-btn:hover {
  background: var(--bgCta);
  color: var(--main);
}

/* UserAccount style */

.private-area {
  background: linear-gradient(to right, var(--gradient2), var(--main));
}

.selected {
  font-weight: bold !important;
  color: var(--bgCta) !important;
}


@media (max-width: 992px) {

  .background-image-desktop {
    display: none;
  }

  .main-container-1,
  .standard-container {
    background-image: url(../img/background-mobile-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .main-container-2 {
    background-image: url(../img/background-mobile-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container-text {
    width: 100%;
  }

  .container-title {
    font-size: 30px;
    font-weight: 700;
  }

  .container-description {
    font-size: 15px;
    font-weight: 400;
  }

  .label-text {
    font-size: 15px;
    font-weight: 400;
  }

  /* Azadì style */

  .azadì-row {
    padding: 0;
  }

  .center-azadì {
    background: linear-gradient(to right, var(--gradient2), var(--main));
  }

  .azadì-image {
    padding: 20px;
    max-width: 50%;
  }

  .azadì-title {
    color: white;
  }

  .azadì-description {
    color: white;
  }

  /* Contacts Style*/
  .contacts-container {
    background-image: url(../img/background-mobile-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: unset;
  }

  .form-left {
    padding-bottom: 0 !important;
  }

  .form-right {
    margin-bottom: 120px;
  }

  /* Viaggi Style*/

  .viaggi-page {
    align-items: center;
  }

  .trips {
    width: 100%;
    flex-direction: column;
  }

  /* Trip Card Style*/

  .trip-card {
    width: 100%;
  }

  .trip-info {
    flex-direction: column;
  }

  /* Lingua Style*/

  .dropdown-menu {
    right: unset;
  }

  .dropdown-item {
    
  }

  .nav-lang {
    display: none;
  }

  /* Contatti Style */

  .contatti {
    background-image: none;
    margin-bottom: 100px;
  }

  /* Login Style */

  .login {
    background-image: none;
    margin-bottom: 100px;
  }

  .login-new,
  .login-old {
    border-radius: 20px;
  }

  /* SignUp Style */

  .signup {
    margin-bottom: 100px;
  }

  .signup-form {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  /* Freelancer style */

  .freelancer-image-pc {
    display: none;
  }

  .freelancer-image-mobile {
    display: unset;
    position: relative;
    z-index: -1;
  }
}