:root {
  --bgCta: #EEE3AB;
  --main: #656B9F;
  --gradient2: #97D6FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: sticky !important;
  background: linear-gradient(to right, var(--gradient2), var(--main));
  min-height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-nav .nav-link,
.navbar-brand,
.freedom {
  color: white;
}

.nav-item {
  cursor:  pointer !important;
}

.nav-link {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

.nav-link:hover,
.freedom:hover {
  color: var(--bgCta) !important;
}

.nav-link:active,
.freedom:active {
  color: white !important;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}

.nav-img {
  width: 50%;
  margin-top: 10px;
}

.nav-img-lang {
  width: 100%;
}

.logo {
  font-size: 32px;
}

.travel-adventure {
  color: var(--bgCta) !important;
}

.btn-custom {
  color: white !important;
}

.central-item {
  display: none;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba%28255, 255, 255, 1%29" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E') !important;
}

.navbar-toggler-icon.open {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba%28255, 255, 255, 1%29" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 4l22 22M4 26l22-22"/%3E%3C/svg%3E') !important;
}

.navbar-brand img {
  width: 180px;
  height: auto;
}

@media (min-width: 993px) and (max-width: 1500px) {
  .navbar-brand img {
    width: 127.8px;
    height: 36.486px;
  }

  .navbar-brand {
    margin-left: 20px;
  }
}

@media (min-width: 1500px) {
  .navbar-brand {
    margin-left: 133px;
  }
}

@media (max-width: 992px) {

  .navbar-nav {
    height: calc(100vh - 100px); /* Adatta l'altezza per non coprire la navbar */
    background: linear-gradient(to right, var(--gradient2), var(--main));
    position: fixed;
    top: 100px; /* Sposta il menu sotto la navbar */
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px !important;
    z-index: -1;
  }

  .btn-custom {
    right: 0 !important;
    position: absolute;
  }

  .central-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    width: 20%;
  }

  .nav-img {
    display: none;
  }

  .nav-link {
    text-align: center;
    height: auto;
    color: white;
    font-size: 40px !important;
  }

  .logo {
    display: none;
  }
}

@media (min-width: 993px) {
  .logo {
    display: flex !important;
  }
}