:root {
  --bgCta: #EEE3AB;
  --main: #656B9F;
  --gradient2: #97D6FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style Navbar: */
.navbar {
  background: linear-gradient(to right, var(--gradient2), var(--main));
  min-height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.navbar-nav .nav-link,
.navbar-brand,
.navbar-toggler-icon {
  color: white !important;
}

.nav-link {
  font-size: 18px;
  font-weight: 400;
}

.nav-link-home {
  font-weight: 700 !important;
  color: var(--bgCta) !important;
  padding-left: 0 !important;
}

.btn-custom {
  padding:10px 20px;
  color: var(--main);
  background-color: var(--bgCta);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba%28255, 255, 255, 1%29" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.navbar-brand img {
  width: 180px !important;
  height: auto!important;
}

@media (min-width: 993px) and (max-width: 1500px) {

  .navbar-brand img {
    width: 127.8px !important;
    height: 36.486px !important;
  }

  .navbar-brand {
    margin-left: 20px !important;
  }

  .navbar-nav {
    margin-left: 20px !important;
  }

  .nav-link {
    padding-left: 80px !important;
  }

  .btn-custom {
    width: 160px;
    height: 80px;
    margin-right: 20px !important;
  }
}

@media (min-width: 1500px) {

  .navbar-brand {
    margin-left: 133px;
  }

  .btn-custom {
    margin-right: 125px;
  }

  .navbar-nav {
    margin-left: 100px;
  }

  .nav-link {
    padding-left: 110px !important;
  }

  .nav-link-home {
    padding-left: 0 !important;
  }
}

@media (max-width: 992px) {

  .navbar-nav {
    height: 100vh;
  }

  .nav-link {
    padding-left: 30px !important;
    text-align: center;
    height: 100px;
  }

  .nav-link-home {
    margin-top: 50px;
  }

  .btn-custom {
    width: 213px;
    height: 38px;
    margin-left: 20px;
    padding-left: 10.46px !important;
    padding-right: 10.46px !important;
    font-size: 16px;
    font-weight: 700;
  }

  .navbar-toggler-icon {
    width: 35px;
    height: 35px;
  }
}